[<a class="css-1qlq4ar" href="/jira" style="--product-home-color-active:var(--ds-text-subtle, #0052CC);--product-home-bg-color-active:var(--ds-background-neutral-pressed, rgba(222, 235, 255, 0.7));--product-home-box-shadow-active:;--product-home-color-focus:var(--ds-text-subtle, #344563);--product-home-bg-color-focus:;--product-home-box-shadow-focus:;--product-home-color-hover:var(--ds-text-subtle, #0052CC);--product-home-bg-color-hover:var(--ds-background-neutral-hovered, rgba(222, 235, 255, 0.9));--product-home-box-shadow-hover:;--logo-max-width:260px"><style data-emotion="css ffx81u">.css-ffx81u{max-height:28px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;max-width:var(--logo-max-width);}.css-ffx81u>*{max-height:24px;}.css-ffx81u>span>svg{max-width:var(--logo-max-width);}@media (max-width: 1279.9px){.css-ffx81u{display:none;}}</style><div class="css-ffx81u"><style data-emotion="css 12mte9y">.css-12mte9y{display:inline-block;position:relative;color:var(--logo-color);fill:var(--logo-fill);line-height:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:normal;height:32px;}.css-12mte9y >svg{height:100%;fill:inherit;}</style><span aria-label="Jira" class="css-12mte9y" role="img" style="--logo-color:#2684FF;--logo-fill:var(--ds-text, #253858)">
<svg aria-hidden="true" focusable="false" height="32" viewbox="0 0 69 32" xmlns="http://www.w3.org/2000/svg">
<defs>
<lineargradient id="uid3" x1="98.0308675%" x2="58.8877062%" y1="0.160599572%" y2="40.7655246%">
<stop offset="18%" stop-color="#0052CC"></stop>
<stop offset="100%" stop-color="#2684FF"></stop>
</lineargradient>
</defs>
<g fill-rule="nonzero" stroke="none" stroke-width="1">
<path d="M22.9366667,4 L11.41,4 C11.41,5.3800098 11.9582068,6.703498 12.934021,7.67931228 C13.9098353,8.65512657 15.2333235,9.20333333 16.6133333,9.20333333 L18.7366667,9.20333333 L18.7366667,11.2533333 C18.7385054,14.1244521 21.0655479,16.4514946 23.9366667,16.4533333 L23.9366667,5 C23.9366667,4.44771525 23.4889514,4 22.9366667,4 Z" fill="#2684FF"></path>
<path d="M17.2333333,9.74333333 L5.70666667,9.74333333 C5.70850536,12.6144521 8.03554792,14.9414946 10.9066667,14.9433333 L13.03,14.9433333 L13.03,17 C13.0336786,19.8711178 15.3622132,22.196669 18.2333333,22.1966667 L18.2333333,10.7433333 C18.2333333,10.1910486 17.7856181,9.74333333 17.2333333,9.74333333 Z" fill="url(#uid3)"></path>
<path d="M11.5266667,15.4833333 L0,15.4833333 C3.51929402e-16,18.357055 2.32961169,20.6866667 5.20333333,20.6866667 L7.33333333,20.6866667 L7.33333333,22.7366667 C7.33516565,25.6051863 9.65815176,27.9311544 12.5266667,27.9366667 L12.5266667,16.4833333 C12.5266667,15.9310486 12.0789514,15.4833333 11.5266667,15.4833333 Z" fill="url(#uid3)"></path>
<path d="M37.07,18.956 C37.07,20.646 36.394,21.842 34.418,21.842 C33.56,21.842 32.702,21.686 32,21.4 L32,23.662 C32.65,23.896 33.586,24.104 34.808,24.104 C38.032,24.104 39.41,21.946 39.41,18.8 L39.41,6.918 L37.07,6.918 L37.07,18.956 Z M42.894,7.568 C42.894,8.556 43.544,9.128 44.454,9.128 C45.364,9.128 46.014,8.556 46.014,7.568 C46.014,6.58 45.364,6.008 44.454,6.008 C43.544,6.008 42.894,6.58 42.894,7.568 Z M43.31,24 L45.546,24 L45.546,11 L43.31,11 L43.31,24 Z M48.926,24 L51.11,24 L51.11,16.33 C51.11,13.574 52.852,12.716 55.712,13.002 L55.712,10.818 C53.164,10.662 51.864,11.754 51.11,13.288 L51.11,11 L48.926,11 L48.926,24 Z M66.45,24 L66.45,21.66 C65.618,23.376 64.058,24.26 62.056,24.26 C58.598,24.26 56.856,21.322 56.856,17.5 C56.856,13.834 58.676,10.74 62.316,10.74 C64.214,10.74 65.67,11.598 66.45,13.288 L66.45,11 L68.686,11 L68.686,24 L66.45,24 Z M59.092,17.5 C59.092,20.62 60.34,22.18 62.654,22.18 C64.656,22.18 66.45,20.906 66.45,18.02 L66.45,16.98 C66.45,14.094 64.812,12.82 62.914,12.82 C60.392,12.82 59.092,14.484 59.092,17.5 Z" fill="var(--ds-text, #253858)" fill-rule="evenodd"></path>
</g>
</svg></span></div><style data-emotion="css ago5ik">.css-ago5ik{max-height:28px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.css-ago5ik>*{max-height:24px;}@media (min-width: 1280px){.css-ago5ik{display:none;}}</style><div class="css-ago5ik"><span aria-label="Jira" class="css-12mte9y" role="img" style="--logo-color:#2684FF;--logo-fill:currentColor">
<svg aria-hidden="true" focusable="false" height="32" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
<defs>
<lineargradient id="uid4" x1="94.092%" x2="56.535%" y1="6.033%" y2="43.087%">
<stop offset="18%" stop-color="#0052CC"></stop>
<stop offset="100%" stop-color="#2684FF"></stop>
</lineargradient>
</defs>
<g fill-rule="nonzero" stroke="none" stroke-width="1">
<path d="M26.0406546,5 L14.9983562,5 C14.9983562,6.32163748 15.5233746,7.58914413 16.4579134,8.52368295 C17.3924523,9.45822178 18.6599589,9.98324022 19.9815964,9.98324022 L22.0151159,9.98324022 L22.0151159,11.9465283 C22.0168782,14.6974491 24.2474348,16.9265768 26.9983562,16.9265762 L26.9983562,5.95770152 C26.9983562,5.42877757 26.5695786,5 26.0406546,5 Z" fill="#2684FF"></path>
<path d="M20.0420436,11 L9,11 C9.00176139,13.7504065 11.2309666,15.9796117 13.9813731,15.9813731 L16.0154337,15.9813731 L16.0154337,17.9451836 C16.0154337,19.2671728 16.5405919,20.5350167 17.4753794,21.4698042 C18.4101669,22.4045917 19.6780108,22.9297499 21,22.9297499 L21,11.9579564 C21,11.4288917 20.5711083,11 20.0420436,11 Z" fill="url(#uid4)"></path>
<path d="M14.0420436,17 L3,17 C3.00176275,19.7516528 5.23291286,21.9813736 7.98456626,21.9813731 L10.0250133,21.9813731 L10.0250133,23.9451836 C10.0250082,26.6943468 12.2508419,28.9244664 15,28.9297499 L15,17.9579564 C15,17.4288917 14.5711083,17 14.0420436,17 Z" fill="url(#uid4)"></path>
</g>
</svg></span></div></a>, <a href="/login.jsp?" target="_self"><div role="presentation"><style data-emotion="css o000bn">.css-o000bn,.css-o000bn:hover,.css-o000bn:active,.css-o000bn:focus,.css-o000bn:focus-visible,.css-o000bn:visited,.css-o000bn:disabled,.css-o000bn[disabled]{-webkit-align-items:baseline;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;border-width:0;border-radius:100%;box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:inherit;font-style:normal;font-family:inherit;font-weight:500;max-width:100%;position:relative;text-align:center;-webkit-text-decoration:none;text-decoration:none;-webkit-transition:background 0.1s ease-out,box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);transition:background 0.1s ease-out,box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);white-space:nowrap;background:var(--ds-background-brand-bold, #0052CC);color:var(--ds-text-subtle, #344563);cursor:pointer;height:auto;line-height:2.2857142857142856em;padding:4px;vertical-align:middle;width:auto;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;outline:none;margin:0 2px;background-color:transparent;}.css-o000bn::-moz-focus-inner,.css-o000bn:hover::-moz-focus-inner,.css-o000bn:active::-moz-focus-inner,.css-o000bn:focus::-moz-focus-inner,.css-o000bn:focus-visible::-moz-focus-inner,.css-o000bn:visited::-moz-focus-inner,.css-o000bn:disabled::-moz-focus-inner,.css-o000bn[disabled]::-moz-focus-inner{border:0;margin:0;padding:0;}.css-o000bn:hover,.css-o000bn:hover:hover,.css-o000bn:active:hover,.css-o000bn:focus:hover,.css-o000bn:focus-visible:hover,.css-o000bn:visited:hover,.css-o000bn:disabled:hover,.css-o000bn[disabled]:hover{color:var(--ds-text-subtle, #0052CC);background-color:var(--ds-background-neutral-hovered, rgba(222, 235, 255, 0.9));}.css-o000bn:focus,.css-o000bn:hover:focus,.css-o000bn:active:focus,.css-o000bn:focus:focus,.css-o000bn:focus-visible:focus,.css-o000bn:visited:focus,.css-o000bn:disabled:focus,.css-o000bn[disabled]:focus{color:var(--ds-text-subtle, #344563);}.css-o000bn >span,.css-o000bn:hover >span,.css-o000bn:active >span,.css-o000bn:focus >span,.css-o000bn:focus-visible >span,.css-o000bn:visited >span,.css-o000bn:disabled >span,.css-o000bn[disabled] >span{margin:0;}.css-o000bn:focus-visible{outline:2px solid var(--ds-border-focused, #4C9AFF);outline-offset:2px;}@supports not selector(*:focus-visible){.css-o000bn:focus{outline:2px solid var(--ds-border-focused, #4C9AFF);outline-offset:2px;}}@media screen and (forced-colors: active),screen and (-ms-high-contrast: active){.css-o000bn:focus-visible{outline:1px solid;}}</style><button aria-busy="false" class="css-o000bn" tabindex="0" type="button"><span class="css-16j5qb5"><span aria-label="Sign in" class="css-snhnyn" role="img" style="--icon-primary-color:currentColor;--icon-secondary-color:var(--ds-surface, #FFFFFF)"><svg height="24" role="presentation" viewbox="0 0 24 24" width="24"><g fill="currentColor" fill-rule="evenodd"><path d="M15.503 3H12v2h7v14h-7v2h7.006c1.1 0 1.994-.893 1.994-1.995V4.995A1.993 1.993 0 0019.006 3h-3.503z"></path><path d="M3.977 11A.99.99 0 003 12.001c0 .551.437.999.977.999h11.047a.988.988 0 00.976-.999.99.99 0 00-.976-1.001H3.977z"></path><path d="M12.303 8.305a1.053 1.053 0 000 1.478L14.5 12l-2.197 2.217a1.05 1.05 0 000 1.476c.404.409 1.06.409 1.465 0l2.93-2.955a1.055 1.055 0 000-1.477l-2.93-2.956a1.034 1.034 0 00-1.465 0z"></path></g></svg></span></span></button></div></a>]
